// _mixins.scss

// Використання міксинів:
// Створення міксинів для повторюваних стилів, 
// таких як бордери або флексові контейнері.
// Приклад:
//    @mixin flex-center {
//      display: flex;
//      justify-content: center;
//      align-items: center;
//    }




@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin pointer  {
    cursor: pointer;
}

@mixin border_bottom{
    border-bottom: 1px solid #d7d7d7;
}

@mixin containers{
    background-color: $bg_color_white;
    border-radius: $bd_radius;
    box-shadow: $bx_shadow;
    border-collapse: collapse;
    padding: 2rem;
}

@mixin button{
    font-weight: bold;
}
