body {
    background: #F1F1F1;
    font-size: 18px;
    font-family: 'Inter';
}


/* 
-------------------------------------------------------------------
filter-page
-------------------------------------------------------------------
 */



.settings {
    font-weight:1000;
    font-size: 28px;
    margin: 30px 15px 15px 15px;
    color: #303030;
}

.container {
    margin: 15px;
}


.table {
    background-color: white;
    width: 100%;
    border-radius: 12px;
    text-align: left;
    margin: 15px 0;
    padding: 0px 5px;
    box-shadow: -2px 2px 5px rgb(204, 204, 204);
    border-collapse: collapse;
    border-color: 1px solid #b0b0b07e;
}


.status {
    padding: 5px 0;
}
.status div{
    display: inline;
    background-color: rgba(196, 196, 196, 0.3);
    padding: 3px 8px;
    border-radius: 13px;
    margin-left: 6px;
}

.st_active div{
    background-color: rgba(0, 250, 137, 0.349);
}

.table{
    td {
        border-top: 1px solid #b0b0b046;
    }
}


.delete_icon:hover {
    cursor:pointer;
}

th, td {
    padding: 12px;
}



.menu {
    background-color: white;
    width: 100%;
    display:flex;
    margin: 15px 0px;
    border-radius: 8px;
    /* border-bottom-left-radius: 0;
    border-top-left-radius: 0; */
    box-shadow: -2px 2px 5px rgb(204, 204, 204);
}

.menu_button {
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}


.menu_button:hover {
    background-color: rgba(3, 110, 30, 0.61);
    color: #ffffff;
    cursor:pointer;
    transition: 0.24s;
}

.menu_button:active {
    background-color: rgba(7, 94, 66, 0.393);
    transition: 0;
}

.menu_radio:first-child + .menu_button {
    border-radius: 8px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.menu_radio {
    display: none;
}

.menu_radio:checked + .menu_button {
    background-color: #000000;
    color: #fff;
}




/* 
-------------------------------------------------------------------
settings-page
-------------------------------------------------------------------
 */



.container1 {
    display: flex;
    padding: 20px;
    flex-direction: row;
}

.buttons {
    text-align: right;
    display: flex;
    gap: 8px;
}

.link_to_pr {
    text-align: left;
    display: flex;
    flex: 1;
    font-size: 18px;
    margin: 0 15px;
}

.no_link_settings {
    padding: 0 15px;
}

.text_input {
    max-width: 100%;
    background-color: white;
    border-radius: 18px;
    padding: 10px ;
    margin: 30px;
    margin-top: 0;
}

.text_i {
    border-collapse: collapse;
    border: 1px solid #a5a5a5 ;
    margin: 10px 0;
    padding: 7px;
    border-radius: 12px;
}

.text_i_artice {
    color: #303030;
    font-size: 20px;
    font-family: 'Inter';
}

.text_iii {
    width: 100%;
}

.discard, .create_formula, .save {
    font-size: 18px;
    font-family: 'Inter';
    font-weight: bold;
}

.discard {
    background-color: white;
    padding: 5px 12px;
    border-radius: 5px;
}
.discard:hover {
    background-color: #bef2ff;
    cursor: pointer;
}

.create_formula {
    background-color: rgb(27, 27, 27);
    padding: 5px 17px;
    border-radius: 15px;
    color: white;

}
.create_formula:hover {
    cursor: pointer;
}

.save {
    color: rgb(156, 156, 156);
    background-color: rgb(221, 221, 221);
    padding: 5px 8px;
    border-radius: 8px;
}
.save:hover {
    cursor: pointer;
}
.formulas {
    background-color: white;
    width: 700px;
    border-radius: 18px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 340px;
    justify-content: center;
    align-items: center;
}


.t_1 , .t_2 , .b_0 {
    font-family: 'Inter';
}

.t_1 {
    font-size: 18px;
    font-weight: bold ;
}

.t_2 {
    font-size: 14px;
}

.b_0 {
    background-color:#303030;
    color: white;
    font-weight: bold;
    padding: 6px;
    width: 32px;
    border-radius: 5px;
}

.image_0 {
    height: 190px;
}





.formulas_s {
    max-width: 100%;
    background-color: white;
    border-radius: 24px;
    margin: 17px 30px;
    height: 162px;
}

.table_formulas{
    width: 100%;
    padding: 8px;
    text-align: left;
}

.formulas_article {
    font-weight: bold;
    font-size: 24px;
}

